.message-bubble {
    position: relative;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 80%;
}

.human-message::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -10px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right-color: #bfdbfe; /* Light blue background color */
    border-left: 0;
    border-bottom: 0;
    margin-top: -5px;
    margin-left: -10px;
}

.ai-message::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: -10px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left-color: #bbf7d0; /* Light green background color */
    border-right: 0;
    border-bottom: 0;
    margin-top: -5px;
    margin-right: -10px;
}